
       
        .up.sidebar{
         top: 0rem;
        }
        .hide.sidelogo {
         width: 85%;
         
     }

     

     .sidelogo {
      position: relative;
      margin-right: auto; 
      width: 0% ;
      transition: 0.4s;
  }

     

        .sidebar-open .sidebar {
         
         width: 14rem;
      
        }
        
        .sidebar {
         margin-left: 0rem;
         height: 100%;
         width: 0;
         position: fixed;
         top: 5rem;
         right: 0;
         background-color: #fff;
         overflow-x: hidden;
         transition: 0.5s;
         align-items: center;
         z-index: 999;
        }
        .sidebar a {
            padding: 20px 25px;
            text-decoration: none;
            font-size: 18px;
            color: rgb(0, 0, 0);
            display: block;
            transition: 0.3s;
        }
        .sidebar a:hover {
            background-color: #b2b2b2;
        }
        
      

        .sidebar-close .main-content {
         margin-left: 0;
        }
        .logo{
         width: 15%;
        }
        
.nav_logo{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  
}


.welcome{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   padding: 85px 0px 0px 0px;
   width: 100%;   /* 100% of the viewport width */
   text-align: center;
   color:wheat;
}

.welcome1{
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    /* 100% of the viewport height */
   width: 100%;   /* 100% of the viewport width */
   text-align: center;
   color:wheat;
}

.welcome2{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   padding: 85px 0px 0px 0px;
   width: 100%;   /* 100% of the viewport width */
   text-align: center;
   color:rgb(0, 0, 0);
}

.welcome3{
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    /* 100% of the viewport height */
   width: 100%;   /* 100% of the viewport width */
   text-align: center;
   color:rgb(0, 0, 0);
}

.btn{
   position: relative;
   top: 2rem;
   display: flex;
   align-items: center;
   margin-left: 1rem;
   height: 2rem;
}

.logout{
   position: relative;
   bottom: -15rem;
}


.beranda{
   position: relative;
   bottom: -1.35rem;
}

.penyisihan{
   position: relative;
   bottom: -1.35rem;
}

.semifinal{
   position: relative;
   bottom: -1.35rem;
}

.final{
   position: relative;
   bottom: -1.35rem;
}

@media screen and (min-width: 315px) {
   .nav_logo {
      display: flex;
      align-items: center;
      column-gap: 30px;
     
      
   }

   .logo{
      width: 140px;
   }
   
   .logout{
      position: absolute;
        bottom: 7.5rem;
   }

}


@media screen and (min-width: 515px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
      
      
   }

   
   .logout{
      position: absolute;
        bottom: 7.5rem;

}
}


@media screen and (min-width: 750px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
        }
     .logout{
      position: absolute;
        bottom: 7.5rem;
   }
}

@media screen and (min-width: 850px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
        }
     .logout{
      position: absolute;
        bottom: 7.5rem;
   }
}
@media screen and (min-width: 1226px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
         
   }
   .logout{
      position: absolute;
        bottom: 7.5rem;
   }
}

@media screen and (min-width: 1341px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
       }
}

@media screen and (min-width: 1600px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
        }

     .logout{
      position: absolute;
        bottom: 7.5rem;
   }
}


.fa{
  margin-right: 1rem;
}


@media screen and (min-width: 1920px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
      
   }

     .logout{
      position: absolute;
        bottom: 10.5rem;
   }
}

@media screen and (min-width: 2220px) {
   .nav_logo {
      display: flex;
      align-items: center;
      
      
   }

     .logout{
      position: absolute;
        bottom: 10.5rem;
   }
}







.card-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
   max-width: 45rem;
   margin: 65px auto;
   padding: 20px;
   gap: 20px;
 }
   .card-list .card-item {
     background: #fff;
     padding: 26px;
     border-radius: 25px;
     box-shadow: 0px 5px 8px #f6ae31;
     list-style: none;
     cursor: pointer;
     text-decoration: none;
     border: 2px solid transparent;
     transition: border 0.5s ease;
   }
   .card-list .card-item:hover {
     border: 2px solid #f6ae31;
   }
   .card-list .card-item img {
    width: 100%;
    
    border-radius: 8px;
    display: block;
    /*height: 70%;*/
   }
   .card-list span {
     display: inline-block;
     background: #d1e8ff;
     margin-top: 32px;
     padding: 8px 15px;
     font-size: 1rem;
     border-radius: 50px;
     font-weight: 800;
   }
   .card-list .developer {
     background-color: #F7DFF5; 
     color: #B22485;
 }   

 .card-list .creator {
   background-color: #cfff00;
   color: #6a782d;
}


 .card-list .manager {
   background-color: #ff7878;
   color: #8e0000;
}
 
 .card-list .designer {
     background-color: #d1e8ff;
     color: #2968a8;
 }
 .card-list .editor {
     background-color: #d6f8d6; 
     color: #205c20;
 }
   .card-item h3 {
     color: #000;
     font-size: 1.3rem;
     /*margin-top: 28px;*/
     font-weight: 600;
     text-align: center;
   }
   .card-item .card-icon {
     display: flex;
     margin: 0 auto;
     text-align: center;
     justify-content: center;
     align-items: center;
     height: 40px;
     width: 180px;
     color: #f6ae31;
     border: 1px solid #f6ae31;
     border-radius: 20px;
     margin-top: 25px;
     cursor: pointer;
     transition: 0.2s ease;
   }
   .add{
      display: inline-block;
    background: #d1e8ff;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: 800;
    background-color: #2f61f1;
    color: #000;
    border-radius: 60px;
   }
   
   
   .card-list .card-item:hover .card-icon  {
     background: #f6ae31;
     color: #fff; 
   }
   @media (max-width: 1200px) {
     .card-list .card-item {
         padding: 15px;
     }
   }
   @media screen and (max-width: 980px) {
     .card-list {
         margin: 0 auto;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         
     }
   }