/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(230, 12%, 40%);
  --body: hsl(0, 0%, 100%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Lato", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 550;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1.2rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav_logo{
  width: 185px !important;
}
.nav_logo1 {
  transition: transform 0.3s ease; /* Menambahkan transisi untuk efek halus */
}

.nav_logo1:hover {
  transform: scale(1.1);
}



/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  margin: -4 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main {
  position: relative;
  height: auto;
}

.main__bg {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header.hidden {
  top: -40%
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  box-shadow: 0 16px 16px hsl(0deg 0% 0% / 27%);
  z-index: var(--z-fixed);
  transition: top 0.5s ease;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  backdrop-filter: blur(4px);  
  z-index: -1;       
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 0px;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  margin-left: -75;
  
}


.nav__logokdbi {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  margin-left: -5rem;
  
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin: 30;
}

.nav__list > div {
  margin: 0px;
  position: absolute;
  left: 330px;
  display: flex;
  align-items: center;
  width: 80px;
  column-gap: .9rem;
}
/* .nav__list > div {
  display: flex;
  align-items: center;
  width: 12%;
  column-gap: .9rem;
} */


.gmbar{
  margin-top: -.8rem;
  margin-left: -3rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}
@media screen and (max-width: 1020px) {
  .header{
    border-radius: 50px;
    top: 20px;
    left: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0px 0px 30px 5px hsl(0deg 0% 0% / 27%);
    
  
  }
  .header::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    backdrop-filter: blur(4px);  
    z-index: -1;       
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    text-align: center;
    align-items: center;
    background-color: var(--body);
    width: 100%;
    padding-block: 4.5rem rem;
    transition: top .4s;
    left: -1;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  }
  .nav__link{
    margin-left: -1rem;
  }
  .nav__list > div {
    width: 80px;
    position: static;
  }
  .nav__item{
    align-items: center;
    justify-content: center;
  }


}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}


.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}

.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	margin-top: 15px;
  color: var(--title-color)
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media screen and (max-width: 576px) {
  .search { /* Added .register to media query */
    padding-top: 10rem;
  }
.nav_logo{
  width: 100px !important;
    position: relative;
    right: 25px;
}
  .nav{
    margin-right: 2rem;
    margin: 0px 20px 0px 5px;
  }
  .nav__logo,
  .search__form { /* Added .register__form */
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close { /* Added .register__close */
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }
  .text{
    margin-top: 14rem;
  }
}

.homepage {
	height: 100vh;
	width: 100%;
	position: relative;
	background: url("../img/Home.png");
	background-position: center 65%;
	background-size: cover;
	background-attachment: fixed;
  }
  .homepage::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
  }
  .homepage .content {
	display: flex;
	height: 85%;
	z-index: 3;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  .homepage .content {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 10px;
  }
  .homepage .content .text {
	margin-bottom: 60px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
  }
  .homepage .content .texthome {
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
    }
  

/* For large devices */
@media screen and (min-width: 1022px) {
  .nav {
    height: calc(var(--header-height) + 3rem);
    column-gap: 3rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

.homepage .content h1 {
	font-size: 77px;
  }
  .homepage .content .text {
	margin-bottom: 50px;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

@media (min-width: 991px) {
  .contact-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content .col-md-6,
	.contact-page .right-content .col-md-12 {
		padding: 0px;
  }
  .contact-page {
		margin-top: 0px;
	}
}

.counter{
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  height: 210px;
  width: 210px;
  padding: 7px 4px 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.counter:before{
  content: '';
  background-color: #fff;
  height: 157px;
  width: 157px;
  border-radius: 15px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.counter .counter-icon{
  color: #fff;
  background: linear-gradient(#F83F83,#E2056F);
  line-height: 70px;
  font-size: 35px;
  height: 70px;
  width: 70px;
  margin: 0 auto 8px;
  border-radius: 19px 0 50px;
  transform: rotate(45deg);
}
.counter .counter-icon i{ transform: rotate(-45deg); }
.counter .counter-value{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 13px 0;
  display: block;
}
.counter h3{
  color: #fff;
  background: linear-gradient(#F83F83,#E2056F);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 10px 5px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.counter h3:before,
.counter h3:after{
  content: "";
  background: linear-gradient(to right bottom, transparent 49%,#c90460 50%);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -2;
}
.counter h3:after{
  transform: rotateY(180deg);
  left: auto;
  right: 0;
}
.counter.purple .counter-icon,
.counter.purple h3{
  background: linear-gradient(#B05FDF,#7B26DD);
}
.counter.purple h3:before,
.counter.purple h3:after{
  background: linear-gradient(to right bottom,transparent 49%,#5a07bf 50%);
}
.counter.blue .counter-icon,
.counter.blue h3{
  background: linear-gradient(#00BCF9,#027AF6);
}
.counter.blue h3:before,
.counter.blue h3:after{
  background: linear-gradient(to right bottom,transparent 49%,#0466c9 50%);
}
.counter.emas .counter-icon,
.counter.emas h3{
  background: linear-gradient(#f5ad32,#d88d0d);
}
.counter.emas h3:before,
.counter.emas h3:after{
  background: linear-gradient(to right bottom,transparent 49%,#f5ad32 50%);
}
.counter.silver .counter-icon,
.counter.silver h3{
  background: linear-gradient(#e6e7e3,#a2a3a1);
}
.counter.silver h3:before,
.counter.silver h3:after{
  background: linear-gradient(to right bottom,transparent 49%,#a2a3a1 50%);
}
.counter.perunggu .counter-icon,
.counter.perunggu h3{
  background: linear-gradient(#996306,#bd8d3b);
}
.counter.perunggu h3:before,
.counter.perunggu h3:after{
  background: linear-gradient(to right bottom,transparent 49%,#996306 50%);
}
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}