/* Start Section  Card Peserta*/
.floating-button {
  position: absolute;
  top: 120px;
  left: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Fixed height */
  z-index: 9;
}

.floating-button i {
  margin-right: 8px; /* Space between icon and text */
}

.floating-button:hover {
  background-color: #0056b3;
}



@media (max-width: 576px) {
  .floating-button {
    left: 10px;
      padding: 10px;
      /* border-radius: 50%; */
      width: 65px;
      height: 40px;
      top: 100px;
      z-index: 9;
  }
  .floating-button span {
      display: none;
  }
}

.slide-container{
  max-width: 850px;
  width: 100%;
  padding: 10px 0px 65px 0px;
}
.slide-content{
  margin: 0 20px;
  overflow: hidden;
  border-radius: 25px;
}
.judul{
  text-align: center;
  color: white;
  padding: 90px 0px 40px 0px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  height: 24rem;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px 25px 0 25px;
}
.card-image{
  position: relative;
  height: 300px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 16px 40px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f6ae31;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  margin-top: 1rem;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #f6ae31;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button a {
  color: #FFF;
}
.button:hover{
  background: #f6ae31;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
  margin-top: -18rem;
  display: flex;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination{
  margin-bottom: 25rem;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .swiper-pagination{
    margin-bottom: 25rem;
  }
}
@media screen and (max-width: 540px) {
  .swiper-pagination{
    margin-bottom: 27rem;
  }
}
@media screen and (max-width: 430px) {
  .swiper-pagination{
    margin-bottom: 30rem;
  }
}
@media screen and (max-width: 390px) {
  
  .slide-content{
    margin: 0 15px;
  }
  .swiper-navBtn{
    display: none;
  }
  .slide-container{
    max-width: 350px;
  }
  .swiper-pagination{
    margin-bottom: 15rem;
  }
  .card{
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 344px) {
  .swiper-pagination{
    margin-bottom: 30rem;
  }
}
@media screen and (max-width: 320px) {
  .swiper-pagination{
    margin-bottom: 15rem;
  }
}

/* End Section  Card Peserta*/

/* Start Section Round */

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 20px 70px;
  gap: 20px;
}
  .card-list .card-item {
    background: #fff;
    padding: 15px 36px 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 8px #f6ae31;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
  }
  .card-list .card-item:hover {
    border: 2px solid #f6ae31;
  }
  .card-list .card-item img {
    width: 100%;
    aspect-ratio: 7/8;
    border-radius: 8px;
    display: block;
    height: 70%;
  }
  .card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 600;
  }
  .card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}
  .card-item h3 {
    color: #000;
    font-size: 1.3rem;
    margin-top: 28px;
    font-weight: 600;
    text-align: center;
  }
  .card-item .card-icon {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    color: #f6ae31;
    border: 1px solid #f6ae31;
    border-radius: 20px;
    margin-top: 2px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .card-item .card-icon1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    color: #f6ae31;
    border: 1px solid #f6ae31;
    border-radius: 20px;
    margin-top: 2px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  
  .card-list .card-item:hover .card-icon  {
    background: #f6ae31;
    color: #fff; 
  }
  @media (max-width: 1200px) {
    .card-list .card-item {
        padding: 30px 0px;
    }
  }
  @media screen and (max-width: 980px) {
    .card-list {
        margin: 25px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  @media screen and (max-width: 567px) {
  .judul{
    margin-top: 50px !important;
  }
}

/* End Section Round */

/* Start Section Juri */

.main{
  margin: 10px;
  margin-bottom: 50rem;
}

.main .title{
  padding: 95px 0px 25px 0px;
  font-size: 30px;
  text-align: center;
  color: #f6ae31;
}

.main .card_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card_container .card{
  max-width: 500px;
  height: 620px;
  margin-top: 5rem;
  border-radius: 25px;
  background: #ffffff;
  border: 5px solid #f6ae31;
  padding: 30px;
  color: #f1f5f9;
  position: relative;
}

.user_content1 .name{
  font-size: 20px;
  color: #000;
  
} 

.user_content1 .post{
  font-size: 15px;
  color: #6e77d3;
  margin: 15px 0;
  font-weight: 400;
  position: relative;
  left: 16px;
}

.user_content1 .post::before{
  content: "";
  height: 1px;
  width: 15px;
  background: #6c77d3;
  position: absolute;
  top: 50%;
  left: -16px;
}



.user_content1 .about{
  color: #000000;
  margin-top: 35px;
  font-size: 15px;
  text-align: justify;
}

.user_content2 .name{
  font-size: 18px;
  color: #000;
  
} 

.user_content2 .post{
  font-size: 15px;
  color: #6e77d3;
  margin: 15px 0;
  font-weight: 400;
  position: relative;
  left: 16px;
}

.user_content2 .post::before{
  content: "";
  height: 1px;
  width: 15px;
  background: #6c77d3;
  position: absolute;
  top: 50%;
  left: -16px;
}



.user_content2 .about{
  color: #000000;
  margin-top: 35px;
  font-size: 15px;
  text-align: justify;
}

.user_content3 .name{
  font-size: 20px;
  color: #000;
  
} 

.user_content3 .post{
  font-size: 15px;
  color: #6e77d3;
  margin: 15px 0;
  font-weight: 400;
  position: relative;
  left: 16px;
}

.user_content3 .post::before{
  content: "";
  height: 1px;
  width: 15px;
  background: #6c77d3;
  position: absolute;
  top: 50%;
  left: -16px;
}



.user_content3 .about{
  color: #000000;
  margin-top: 35px;
  font-size: 15px;
  text-align: justify;
}


.card .round_box{
  position: absolute;
  top: -12%;
  right: 7%;
  background: #ffffff !important;
  width: 130px;
  height: 130px;
  border: 4px solid #b68a13;
  border-radius: 50%;
}

.card .img_box{
  position: absolute;
  top: -12%;
  right: 7%;

}

.card .img_box img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 10px;
}


.testing1 {
  color: #f6ae31;
  text-align: center;
  margin: 0 180px;
  font-size: 25;
  margin-top: 50px;
  margin-bottom: 90px;
}
@media screen and (max-width: 1024px) {
  .main {
      margin-bottom: auto;
  }
  .testing1 {
    margin: 0 150px;
    margin-top: 40px;
    margin-bottom: 50px;
}

  .card_container .card{
    height: 900px;
  }
  .card .round_box{
    position: absolute;
    top: -8%;
  
  }
  
  .card .img_box{
    position: absolute;
    top: -8%;
  
  }
  
  .card .img_box img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
  }
  



}
@media screen and (max-width: 500px) {
  .testing1 {
    margin: 0 20px;
    font-size: 17;
}
}
@media screen and (max-width: 430px) {

  .user_content1 {
    margin-top: 2rem;
}
  .user_content2 {
    margin-top: 2rem;
}

}
@media screen and (max-width: 390px) {
  .user_content1 {
      margin-top: 2rem;
  }
  .user_content2 {
    margin-top: -5rem;
}
.user_content3 {
  margin-top: 5rem;
}

.card_container .card{
  height: 750px;
}
}
@media screen and (max-width: 385px) {
  .user_content1 {
      margin-top: -9rem;
  }
  .user_content2 {
    margin-top: -23rem;
}
.user_content3 {
  margin-top: 8rem;
}
.card_container .card{
  height: 1000px;
}
}


@media screen and (max-width: 344px) {
  .user_content1 {
      margin-top: -9rem;
  }
  .user_content2 {
    margin-top: -23rem;
}
.user_content3 {
  margin-top: 1rem;
}

.user_content4 {
  margin-top: -20rem;
}
.card_container .card{
  height: 1100px;
}

}

.icon{
  margin: 10 auto;
  text-align:center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: #000000c5;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon span{
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon span i{
  line-height: 50px;
  font-size: 25px;
}

/* End Section Juri */

.cont{
  display: flex;
  justify-content: center; 
  padding: 0px 0px 100px;
  align-items: center;    
}

.gb{
  display: inline-block;
  background: #d1e8ff;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 800;
  background-color:#f6ae31;
  color: #fff;
  border-radius: 60px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.gb:hover {
  background-color: #2f61f1; 
  color: #fff;               
}